// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family:'Raleway', sans-serif;;
  color: rgb(71, 69, 69);
  font-size: 15px ;
}

h2 {
    color: rgb(100, 99, 99);
}


.index_box {
  background: rgb(240,240,240);
}
